<h1>Community Announcements</h1>

{{#each model as |announcement|}}
  {{announcement-tile announcement=announcement destroyMessage="destroyMessage"}}
{{/each}}

{{new-announcement saveAnnouncement2="saveAnnouncement3"}}
